services:
  server:
    image: stratosgiak/indevche-nginx
    restart: always
    volumes:
      - shared_volume:/var/www/rodiservice/public
    ports:
      - 80:80
      - 443:443
    depends_on:
      - node_app
  node_app:
    image: stratosgiak/indevche-node
    init: true
    restart: always
    volumes:
      - shared_volume:/usr/src/app/public
    environment:
      NODE_ENV: production
    env_file:
      - .env
    ports:
      - 3000:3000
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  shared_volume:
    external: true
