services:
  server:
    image: stratosgiak/indevche-server
    ports:
      - 80:80
      - 443:443
    volumes:
      - shared_volume:/var/www/rodiservice/public/images
      - flutter_volume:/var/www/rodiservice/
      - caddy_data:/data
      - caddy_config:/config
      - ./forms:/var/www/rodiservice/forms:ro
    env_file:
      - .env
    depends_on:
      - node_app
  redis_session:
    image: redis:latest
    restart: always
    ports:
      - 127.0.0.1:6379:6379
    command: redis-server --save 60 1
    volumes:
      - redis_session_data:/data
  redis_token:
    image: redis:latest
    restart: always
    command: redis-server --save 3600 1
    volumes:
      - redis_token_data:/data
  node_app:
    image: stratosgiak/indevche-node
    init: true
    restart: always
    volumes:
      - shared_volume:/usr/src/app/public/images
      - ./forms:/usr/src/app/forms
    environment:
      NODE_ENV: production
    env_file:
      - .env
    ports:
      - 127.0.0.1:${PORT}:${PORT}
    depends_on:
      - redis_session
      - redis_token
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  shared_volume:
    external: true
  flutter_volume:
    external: true
  redis_session_data:
  redis_token_data:
  caddy_data:
  caddy_config:
